<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>userId</key>
		<string>1000</string>
		<key>name</key>
		<string>程序员</string>
		<key>portraitUri</key>
		<string>https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=128860552,1917586530&amp;fm=26&amp;gp=0.jpg</string>
		<key>sex</key>
		<string>男</string>
		<key>type</key>
		<string>0</string>
		<key>token</key>
		<string>lLLpxBtWQzaFiMDAV71hPKfzdQvDZtfqfHBoghIwxRM=@lgm7.cn.rongnav.com;lgm7.cn.rongcfg.com</string>
	</dict>
	<dict>
		<key>userId</key>
		<string>1001</string>
		<key>name</key>
		<string>老板</string>
		<key>portraitUri</key>
		<string>https://dss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=3020277332,4014803774&amp;fm=26&amp;gp=0.jpg</string>
		<key>sex</key>
		<string>男</string>
		<key>type</key>
		<string>0</string>
		<key>token</key>
		<string>aadS03BVLIeFiMDAV71hPBitdqy/qhc/4W4qy5xHXsU=@lgm7.cn.rongnav.com;lgm7.cn.rongcfg.com</string>
	</dict>
	<dict>
		<key>userId</key>
		<string>1002</string>
		<key>name</key>
		<string>社会人</string>
		<key>portraitUri</key>
		<string>https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1990625098,3468619056&amp;fm=11&amp;gp=0.jpg</string>
		<key>sex</key>
		<string>男</string>
		<key>type</key>
		<string>0</string>
		<key>token</key>
		<string>GdoLacFxZvKFiMDAV71hPPq5nQV/m6tZxhJmFClyDvY=@lgm7.cn.rongnav.com;lgm7.cn.rongcfg.com</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>userId</key>
		<string>1003</string>
		<key>name</key>
		<string>外卖员</string>
		<key>portraitUri</key>
		<string>https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2231238505,2167179011&amp;fm=15&amp;gp=0.jpg</string>
		<key>sex</key>
		<string>男</string>
		<key>token</key>
		<string>do6yZ7BRTZGFiMDAV71hPB3w7sz02KR5fXdAKhjdT6o=@lgm7.cn.rongnav.com;lgm7.cn.rongcfg.com</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>userId</key>
		<string>1004</string>
		<key>name</key>
		<string>杨医生</string>
		<key>portraitUri</key>
		<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2620671043,763762584&amp;fm=26&amp;gp=0.jpg</string>
		<key>sex</key>
		<string>女</string>
		<key>token</key>
		<string>2Udn8QUHGsmFiMDAV71hPHNsZdiYZkCmkv/czWhqZxg=@lgm7.cn.rongnav.com;lgm7.cn.rongcfg.com</string>
	</dict>
	<dict>
		<key>token</key>
		<string>q34l6bxYMbxpfu7TuXgmSy/oEtyMLO7qnIsPXiqHx68=@lgm7.cn.rongnav.com;lgm7.cn.rongcfg.com</string>
		<key>type</key>
		<string>1</string>
		<key>userId</key>
		<string>110</string>
		<key>name</key>
		<string>警察</string>
		<key>portraitUri</key>
		<string>https://dss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=3835328476,3579820350&amp;fm=26&amp;gp=0.jpg</string>
		<key>sex</key>
		<string>男</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>userId</key>
		<string>119</string>
		<key>name</key>
		<string>消防员</string>
		<key>portraitUri</key>
		<string>https://dss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=1678118248,1098013467&amp;fm=26&amp;gp=0.jpg</string>
		<key>sex</key>
		<string>男</string>
		<key>token</key>
		<string>wobBFhbggZ9pfu7TuXgmSw2dlLKSlMewnIsPXiqHx68=@lgm7.cn.rongnav.com;lgm7.cn.rongcfg.com</string>
	</dict>
</array>
</plist>
